<h1>Submit Your Article</h1><p>
<form class="" action="/articles" method="post"><p>
Title: <input type="text" id="title" name="title"><p>
Content: <input type="text" id="content" name="content"><p>
<input type="submit"><p>
</form>
