<h1><%= @article.title %></h1>
<body>
  <%= @article.content %>
</body>

<form action="/articles/<%=@article.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
